@model EquiposDeFutbol.Models.Equipo

@{
    ViewData["Title"] = "Details";
}

<h1 class="font-weight-bold">Detalle Equipo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioFundacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioFundacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadSocios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSocios)
        </dd>
    </dl>
</div>
<div>
  @if (User.Identity != null && User.IsInRole("Administrador"))
        {
        <button class="btn btn-dark">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="text-light">Editar</a> 
         </button>
        }
    <button class="btn btn-dark">
    <a asp-action="Index" class="text-light">Back to List</a>
    </button>
</div>
