@using EquiposDeFutbol.ViewModels;
@model EquiposViewModel;


@{
    ViewData["Title"] = "Index";
}

<h1 class="font-weight-bold">Equipos</h1>


<div class="d-flex justify-content-between">
    @if (User.Identity != null && (User.IsInRole("Administrador") || User.IsInRole("AdministradorJunior")))
    {
        <button type="button" class="btn btn-dark mb-2 mt-2">
            <a asp-action="Create" class="text-light">Agregar equipo</a>
        </button>
    }

<div class="d-flex">
    <form method="get" asp-action="Index" asp-controller="EquiposDeFutbol">
        <div class="d-flex">
        <input type="text" placeholder="Filtrar por Nombre o Pais" asp-for="NameFilter" class="form-control mt-2 bg-dark text-light"/>
        <button class="btn btn-dark h-25 mt-2 ml-1" type="submit">Buscar</button>

        </div>
    </form>
    
</div>
</div>
<div style="overflow-y:auto !important; max-height:600px !important;">
<table class="table table-dark" style="position: relative;">
    <thead>
        <tr style="position:sticky; top:0;">
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].AnioFundacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Titulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].CantidadSocios)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Liga)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioFundacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadSocios)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Liga.Nombre)
            </td>
            <td>
                @if (User.Identity != null && (User.IsInRole("Administrador") || User.IsInRole("AdministradorJunior")))
                {
                    <button class="btn btn-outline-secondary">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-light">Editar</a> </button> 
                }
                <button class="btn btn-outline-secondary ml-2">
                    <a  asp-action="Details" asp-route-id="@item.Id" class="text-light"> Detalle Equipo</a>
                   
                    </button> 
                @if (User.Identity != null && (User.IsInRole("Administrador") || User.IsInRole("AdministradorJunior")))
                    {
                         <button class="btn btn-outline-secondary ml-2">
                         <a  asp-action="Delete" asp-route-id="@item.Id" class="text-light">Borrar</a>
                        </button>
                    }
               
            </td>
        </tr>
}
    </tbody>
</table>
</div>

